page-login {
  .list-md{
    background-color: #fff;
    border-radius:10px !important;
    box-shadow: #fff !important;
    margin :0px !important;
  }
    .login-content {
        background: #000000;
     
        .logo-row {
          padding-top: 50px;
          padding-bottom: 20px;
        }
     
        .login-box {
          background: #000000;
          padding: 20px 2px;
          margin-top: 30px;
        }
     
        ion-row {
           align-items: center;
           text-align: center;
         }
     
         ion-item {
            //  border-radius: 30px !important;
             padding-left: 30px !important;
             font-size: 0.9em;
            // margin-bottom: 10px;
             //border: 1px solid #ffffff;
             border-bottom: 2px solid #ccc !important;
             box-shadow: none !important;
         }
     
         .signup-col {
           margin: 0px 16px 0px 16px;
           padding-bottom: 20px;
         }
     
         .item-inner {
           border-bottom-color: #ffffff !important;
           box-shadow: none !important;
         }
     
         .submit-btn {
           background: #000000;
           border-radius: 30px !important;
           border: 1px solid #ffffff;
           color: #fff;
         }
     
         .register-btn {
           color: #ffffff;
           font-size: 0.8em;
         }
      }
}
