page-login {
  .list-md {
    background-color: #fff;
    // border-radius: 10px !important;
    box-shadow: #fff !important;
    margin: 0px !important;
  }

  .login-content {
    // background: #000000;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      // background: #000000;
      padding: 20px 2px;
      margin-top: 10px;

      .input{
        margin-bottom: 5px;
        border-radius: 50px;
        text-align: center;
        font-size: 1em;
        background: #f1f1f1;
        box-shadow: none !important;
        text-align: center;
      }
      .text-input{
        text-align: center
      }

    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      font-size: 1em;
      // border-bottom: 2px solid #ccc !important;
      background: #f1f1f1;
      // border-radius: 50px;
      // margin-bottom: 5px;
      box-shadow: none !important;
      text-align: center;
    }

    .signup-col {
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: #42d08e;
      border-radius: 30px !important;
      color: #fff;
      margin-bottom: 15px;
    }

    .register-btn {
      font-weight: bold;
      border-radius: 30px !important;
      color: #42d08e;
      text-transform: capitalize;
    }
  }
}
