page-register {
    .list-md {
        background-color: #fff;
        box-shadow: #fff !important;
        margin: 0px !important;
    }

    .login-box {
        padding: 20px 2px;
        margin-top: 10px;

        .input {
        margin-bottom: 5px;
        border-radius: 50px;
        text-align: center;
        font-size: 1em;
        background: #f1f1f1;
        box-shadow: none !important;
        text-align: center;
        }

        .text-input {
        text-align: center
        }

        .list {
            margin: 0;
        }

    }

    ion-row {
        align-items: center;
        text-align: center;
    }

    ion-item {
        font-size: 1em;
        background: #f1f1f1;
        box-shadow: none !important;
        text-align: center;
    }

    .signup-col {
        padding-bottom: 20px;
    }

    .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
    }

    .submit-btn {
        background: #42d08e;
        border-radius: 30px !important;
        color: #fff;
        margin-bottom: 15px;
    }

    .login-btn {
        font-weight: bold;
        border-radius: 30px !important;
        color: #42d08e;
        text-transform: capitalize;
    }

    .facebook-btn {
        font-weight: bold;
        border-radius: 30px !important;
        color: #fff;
        background-color: #1967a2;
        text-transform: capitalize;
        width: 100%;
    }
}
