page-scan-code {
    ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
        background: transparent none !important; 
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .mapnone{
        display: none;
    }
    .scanCodePageHeader{
        
        .toolbar-background-md{
            background-image: linear-gradient(to right, #42d08e , #dbe21d);
        }

        .toolbar-title{
            color:#fff;
            text-transform: capitalize;
            text-align: center;
            font-weight: normal;
            font-size: 18px;
        }
        
    }

    .ScanCodePage{
        background-color: #fbfbfb;
        position: relative;

        .scooter-row{
            flex-direction: column;
            text-align: center;

            img{
                width: 30%;
                margin: auto;
            }

            p{
                margin: 15px 0 25px 0;
            }
        }

        .scan-row{
            text-align: center;

            .img-holder{
                padding: 10px;
                border:2px solid #42d08e;
                margin: auto;
                width: 180px;
                height: 180px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .ScanTypeKeys{
            position: absolute;
            bottom: 5%;
            left: 10%;
            padding: 10px;
            background-color: #42d08e;
            color: #fff;
            border-radius: 50px;
            width: 70px;
            height: 70px;
            font-size: 18px;
        }

        .ScanTypeKeysCancel{
            position: absolute;
            bottom: 5%;
            right: 10%;
            padding: 10px;
            background-color: #000;
            color: #ff0000;
            border-radius: 50px;
            width: 70px;
            height: 70px;
            font-size: 30px;
            font-weight: bold;
        }
    }


}
