page-maps {

    .map-page{
      position: relative;
    }
    
    .slides{
      position: fixed;
      bottom: 15%;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 9999;
    }

    .slides ion-slide{
      text-align: center;
      height: 80px;
      width: 42% !important;
      margin: 5px;
      background-color: #fff;
      border: 2px solid #2C3E50;
      border-radius: 5px;
    }

    .slides img{
      width: 30px;
      margin: 8px 0 auto;
    }

    .slides h3{
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }

    #map_canvas{
    height: 100%;
    width: 100%;
    }

    .searchbar-search-icon {
        background-image: url("../assets/imgs/gMarker.png")!important;
        }

        .toolbar-background {
            background: #fff;
            border-color: transparent;
          }
        
          .slide-zoom {
            height: 100%;
          }
        
          .slide-title {
            margin-top: 2.8rem;
          }
        
          .slide-image {
            max-height: 50%;
            max-width: 60%;
            margin: 18px 0;
          }
        
          b {
            font-weight: 500;
          }
        
          p {
            padding: 0 40px;
            font-size: 14px;
            line-height: 1.5;
            color: #60646B;
        
            b {
              color: #000000;
            }
          }
}
