.modal-center {
  ion-content {
      &.content {
          div.scroll-content {
              top: 10%;
              left: 10%;
              width: 80%;
              height: 80%;
              overflow:hidden;
          }
      }

      &.content-ios {
          background-color: rgba(0, 0, 0, 0.3);

          div.scroll-content {
              background-color: #f8f8f8;
              border-radius: 13px;
              padding: 16px;
          }
      }

      &.content-md {
          background-color: rgba(0, 0, 0, 0.5);
          
          div.scroll-content {
              background-color: #fafafa;
              border-radius: 2px;
              box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
              padding: 24px;
          }
      }
  }
}

.modal-bottom {
  ion-content {
      &.content {
          div.scroll-content {
              top: 40%;
              left: 0%;
              width: 100%;
              height: 60%;
              overflow:hidden;
          }
      }

      &.content-ios {
          background-color: rgba(0, 0, 0, 0.3);

          div.scroll-content {
              background-color: #f8f8f8;
              border-radius: 13px;
              padding: 16px;
          }
      }

      &.content-md {
          background-color: rgba(0, 0, 0, 0.5);
          
          div.scroll-content {
              background-color: #fafafa;
              border-radius: 2px;
              box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
              padding: 24px;
          }
      }
  }
}
page-maps {
    .toolbar-background-md{
        background-image: linear-gradient(to right, #42d08e , #dbe21d) !important;
    }
    
    .toolbar-title{
        color:#fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
    }

    .map-page{
        position: relative;
    }
    
    .slides{
      position: fixed;
      bottom: 15%;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 9999;
    }

    .slides ion-slide{
      text-align: center;
      height: 80px;
      width: 42% !important;
      margin: 5px;
      background-color: #fff;
      border: 2px solid #2C3E50;
      border-radius: 5px;
    }

    .slides img{
      width: 30px;
      margin: 8px 0 auto;
    }

    .slides h3{
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }

    #map_canvas{
    height: 100%;
    width: 100%;
    }

    .searchbar-search-icon {
        background-image: url("../assets/imgs/gMarker.png")!important;
        }

        .toolbar-background {
            background: #fff;
            border-color: transparent;
          }
        
          .slide-zoom {
            height: 100%;
          }
        
          .slide-title {
            margin-top: 2.8rem;
          }
        
          .slide-image {
            max-height: 50%;
            max-width: 60%;
            margin: 18px 0;
          }
        
          b {
            font-weight: 500;
          }
        
          p {
            padding: 0 40px;
            font-size: 14px;
            line-height: 1.5;
            color: #60646B;
        
            b {
              color: #000000;
            }
          }
}
