page-history {
    .toolbar-background-md{
        // background-image: linear-gradient(to right, #42d08e , #dbe21d) !important;
        background-color: #fff;
    }
    
    .toolbar-title{
        color:#60d479;
        // color:#fff;
        text-transform: capitalize;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
    }

    .list-items-icons {
        list-style: none;
        padding-left: 0;
        
        li{
            margin-bottom: 10px;
            font-size: 18px;
            color: #52a673;

            .icon{
                padding-right: 10px;
                color: #9ba71f;
                font-weight: bold;
            }
        }
    }
}
