.modal-center {
    ion-content {
        &.content {
            div.scroll-content {
                top: 10%;
                left: 10%;
                width: 80%;
                height: 80%;
                overflow:hidden;
            }
        }
  
        &.content-ios {
            background-color: rgba(0, 0, 0, 0.3);
  
            div.scroll-content {
                background-color: #f8f8f8;
                border-radius: 13px;
                padding: 16px;
            }
        }
  
        &.content-md {
            background-color: rgba(0, 0, 0, 0.5);
            
            div.scroll-content {
                background-color: #fafafa;
                border-radius: 2px;
                box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
                padding: 24px;
            }
        }
    }
  }
  
  .modal-bottom {
    ion-content {
        &.content {
            div.scroll-content {
                top: 40%;
                left: 0%;
                width: 100%;
                height: 60%;
                overflow:hidden;
            }
        }
  
        &.content-ios {
            background-color: rgba(0, 0, 0, 0.3);
  
            div.scroll-content {
                background-color: #f8f8f8;
                border-radius: 13px;
                padding: 16px;
            }
        }
  
        &.content-md {
            background-color: rgba(0, 0, 0, 0.5);
            
            div.scroll-content {
                background-color: #fafafa;
                border-radius: 2px;
                box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
                padding: 24px;
            }
        }
    }
  }
  
  page-mapsapi {
    .toolbar-background-md{
        background-image: linear-gradient(to right, #42d08e , #dbe21d) !important;
    }
    
    .toolbar-title{
        color:#fff;
        text-transform: capitalize;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
    }
    
    #map {
        height: 100%;
        z-index: 99 !important;
      }
      .scroll-content{
          padding: 0px !important;
      }
      .action-buttons {
        display: block;
        width: calc(100% - 16px);
        position: absolute;
        top: 16px;
        right: 16px;
        text-align: right;
        z-index: 999;
    
        button {
            display: inline-block;
            margin: 4px;
        }
    }
}
