page-settingsrabbit {
    .toolbar-background-md{
        background-color: #fff;
        // background-image: linear-gradient(to right, #42d08e , #dbe21d) !important;
    }
    
    .toolbar-title{
        color:#60d479;
        // color:#fff;
        text-transform: capitalize;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
    }
}
